@import url('https://fonts.googleapis.com/css?family=Pacifico&display=swap');
.icons
{
  width: 20px;
  height: 20px;
}
a
{
  color: #000;
}
hr
{
  margin-left: 50px;
  margin-right: 50px;
}
footer
{
  font-family: Pacifico, sans-serif;

}
.logo
{
  width: 250px;
  height: 100px;

}
.nav-item
{

  padding-right: 50px;
  font-size: 25px;
  font-weight:lighter;
  font-family: Pacifico, sans-serif;
}
nav
{
  margin-left: 80px;
  background-color: #fff;
}
.icons-nav
{
  width: 30px;
  height: 30px;
}
.nav-item1
{

  padding-right: 15px;
  font-size: 15px;
  font-weight:lighter;
  font-family: Pacifico, sans-serif;
}
.form-control
{
  font-family: Pacifico, sans-serif;
  padding-right: 30px;
  border-radius: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  padding-right: 20px;
  margin-right: 100px;
}
main
{
  margin-left: 50px;
  margin-right: 50px;
  font-family: Pacifico, sans-serif;
}
.card
{
  border-radius: 20px;
}
.card-img-top
{
  border-radius: 20px;
}
